* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#note {
  width: 90%;
  max-width: 800px;
  height: 80vh;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
}
